certifi
click 
Flask
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mkl-fft
mkl-random
mkl-service
numexpr
numpy
pandas
python-dateutil
pytz
scikit-learn
scipy
six
threadpoolctl
Werkzeug
zipp
